<dashboard-card class="sourcetypescard">
    <template v-slot:header>
        我的共享地址
    </template>
    <template v-slot:content>
        <div class="text-center">
            <div class="kpi_number text-sm-body-1">{{defaultEndpoint}}</div>
        </div>
    </template>
    <template v-slot:button>
        <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
                  <v-btn class="no-uppercase" color="primary" @click="copyCode" @mouseout="reset" v-bind="attrs"
                        v-on="on" depressed>复制地址</v-btn>
            </template>
            <span>{{copyText}}</span>
        </v-tooltip>
    </template>
</dashboard-card>