<dashboard-card class="sourcetypescard">
    <template v-slot:header>
        产品类别
    </template>
    <template v-slot:content>
        <div class="text-center kpi_number">
            34
        </div>
    </template>
    <!-- <template v-slot:content>
        <apex-chart :options="options" :series="series" v-bind:class="{ hideChart: !chartVisible }">
        </apex-chart>
        <p class="text-center text-subtitle-1 text--primary" v-bind:class="{ hideNoChartData: chartVisible }">没有可获得的产品</p>
    </template> -->
</dashboard-card>